{% extends 'globel/layout-vue.html' %}

{% block body %}

<div id="allmap"></div>

<div class="row">
	<div class="col-md-12">
		<div class="panel-body">
			<div class="form-body">
				<i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="160">
					<Form-item label="地点" prop="env">
						<Radio-group v-model="city">
							<Radio v-for="(item, key) in POS" :label="key">{{item[2]}}</Radio>
						</Radio-group>
					</Form-item>
					<Form-item label="当前坐标">
						<span>{{pos.lng + ', ' + pos.lat}}</span>
					</Form-item>
				</i-form>
				<hr>
			</div>

			<ul class="store">
				<li v-for="(item, idx) in list">
					<div class="img-prev" :style="item.imgURL? 'background-image: url('+item.imgURL+')': ''" @click="imgPrev(item)"></div>
					<a @click="sign(item)">{{idx + ': ' + item.name}}</a>
				</li>
			</ul>
		</div>

	</div>
</div>

<Modal
v-model="modal"
:title="storeInfo.name"
class-name="vertical-center-modal"
width="460"
>
	<img :style="storeInfo.imgURL? 'background-image:url(/img/img-default.png)': 'background-size: cover;'" :src="storeInfo.imgURL" :alt="storeInfo.name">
	<p>店名: {{storeInfo.shopName + storeInfo.mstCategory? ' - ' + storeInfo.mstCategory.name: ''}}</p>
	<p>地址: {{storeInfo.address}}</p>
	<p>营业时间: {{storeInfo.businessHour}}</p>
	<p>联系电话: {{storeInfo.phone}}</p>
	<p>喜欢人数: <span style="color:red">{{storeInfo.likeCount}}</span></p>
	<div slot="footer"></div>
</Modal>

{% endblock %}

{% block css %}
<style>
#allmap {
	width:  100%;
	height: 400px;
	margin: 0;
	overflow: hidden
}
.store {
	width: 100%;
}
.store li {
	display: block;
	padding: 10px;
	border: 1px solid #fff;
	overflow: hidden;
}
.store li:hover {
	border: 1px solid #ddd;
}
.store li a {
	float: left;
	margin-left: 10px;
	line-height: 40px;
}
.store li .img-prev {
	float: left;
	width: 60px;
	height: 40px;
	background: url(/img/img-default.png) #fff center no-repeat;
	background-size: cover;
}
.vertical-center-modal{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ivu-modal{
	top: 0;
}
.ivu-modal-body img {
	display: block;
	width: 100%;
}
.ivu-modal-body p {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}
</style>
{% endblock %}

{% block js %}
<script src="//api.map.baidu.com/api?v=2.0&ak=[[config.bmk]]"></script>
<script src="/js/s.js"></script>
{% endblock %}